.lang-toggle {
  padding: 5px 7px 2px;
  background-color: var(--black-color);
  color: var(--color-text, var(--white-color));
  display: grid;
  grid-template-columns: 1fr 1fr;
  overflow: hidden;
  transition: grid-template-columns var(--transition-speed-slow) ease-in-out,
    background-color var(--transition-speed-slow) ease-in-out,
    color var(--transition-speed-slow) ease-in-out;

  &.is-eu {
    --eu: 1fr;

    & .language-eu {
      opacity: 1;
    }
  }

  &.is-ru {
    --ru: 1fr;

    & .language-ru {
      opacity: 1;
    }
  }

  &--hover {
    height: auto;
    padding: 0;
    background-color: transparent;
    grid-template-columns: var(--eu, 0fr) var(--ru, 0fr);
    color: var(--color-text, var(--black-color));
  }

  &__item {
    overflow: hidden;
    padding: 9px 8px 6px;
  }

  &__value {
    overflow: hidden;
    color: var(--color-text);
    display: flex;
    justify-items: center;
    transition: color var(--transition-speed-medium) ease-in-out;
    opacity: .6;
  }

  &:hover {
    --eu: 1fr;
    --ru: 1fr;
    --color-text: var(--white-color);

    background-color: var(--black-color);
  }
}
