.lang-toggle {
  padding: 5px 7px 2px;
  background-color: var(--black-color);
  color: var(--color-text, var(--white-color));
  display: grid;
  grid-template-columns: 1fr 1fr;
  overflow: hidden;
  transition: grid-template-columns var(--transition-speed-slow) ease-in-out,
    background-color var(--transition-speed-slow) ease-in-out,
    color var(--transition-speed-slow) ease-in-out;

  &--hover {
    --label-padding: ;

    padding: 0;
    background-color: transparent;
    grid-template-columns: var(--fr1, 0fr) var(--fr2, 0fr);
    color: var(--color-text, var(--black-color));

    &:has(div:first-child input:checked) {
      --fr1: 1fr;
    }

    &:has(div:last-child input:checked) {
      --fr2: 1fr;
    }
  }

  &__item {
    overflow: hidden;
  }

  &__label {
    cursor: pointer;
    display: flex;
    justify-items: center;
    padding: 9px 8px 6px;

    & span {
      opacity: 0.6;
      transition: opacity var(--transition-speed-slow) ease-in-out;
    }
  }


  &__input {
    &:checked + span {
      opacity: 1;
    }
  }

  &:hover {
    --fr1: 1fr;
    --fr2: 1fr;
    --color-text: var(--white-color);

    background-color: var(--black-color);
    color: var(--white-color);
  }
}