.hero {
  display: flex;
  align-items: stretch;
  min-height: 300px;
  background-image: var(--img-bg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 50px;


  @include media-min($lg) {
    min-height: 330px;
  }

  @include media-min($xl) {
    padding-top: 95px;
  }

  @include media-min($xxl) {
    padding-top: 136px;
    min-height: 500px;
  }

  &__wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  &__title {
    color: var(--white-color);
    text-align: center;
  }
}