<section class="page-text">
  <div class="container">
    <div class="row">
      <div class="col-12 col-xl-6">
        <div class="page-text__wrap">
          <p>
            Когда постер окнчательно оформлен, добавьте его в корзину. После этого зайдите в корзину в правом верхнем углу сайта и в диалоге «Оформление заказа» указажите свои данные для связи и доставки и тип оплаты, подтвердите заказ.
            <br />
            Не забудьте зарегистрироваться, чтобы Ваши данные не потерялись, если вы решили отложить покупку.
            <br />
            Вы можете зарегистрироваться здесь
          </p>
        </div>
      </div>
    </div>
  </div>
</section>