.delete-product-modal {
  max-width: 500px;
  padding: 48px 24px 24px;
  text-align: center;

  &__title {
    font-weight: 700;
    margin-bottom: 16px;
  }

  &__text {
    color: var(--gray-50-color);
    margin-bottom: 32px;

    @include media-min($fhd) {
      margin-bottom: 48px;
    }
  }

  &__btns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 24px;
  }

  &__btn {
    padding: 16px 32px;

    @include media-min($lg) {
      padding: 16px 64px;
    }

    @include media-min($fhd) {
      padding: 24px 64px;
    }
  }
}
