.modal {
  position: relative;
  margin: 0 auto;
  width: 100%;
  color: #000000;
  background-color: #FFFFFF;
  min-width: 360px;
  max-width: 1590px;
  padding: 48px 24px 24px;
  text-align: center;

  &__close {
    @include btn-reset;

    --btn-color: var(--black-color);
    --btn-hover-color: var(--white-color);

    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 58px;
    height: 58px;
  }

  @include media-max(calc(var(--min-site-width) - 1px)) {
    min-width: auto;
  }

  &__title {
    font-weight: 700;
    margin-bottom: 16px;
  }

  &__text {
    color: var(--gray-50-color);
    margin-bottom: 32px;

    @include media-min($fhd) {
      margin-bottom: 48px;
    }
  }
}