.catalog-detail {

  &__meta {
    padding: 16px;
    background-color: var(--beige-color);
    display: grid;
    row-gap: 32px;

    @include media-min($lg) {
      padding: 24px;
      row-gap: 48px;
    }

    @include media-min($xxl) {
      padding: 64px;
      row-gap: 64px;
    }

    &--pb-lg {
      padding-bottom: 64px;

      @include media-min($lg) {
        padding-bottom: 96px;
      }

      @include media-min($xxl) {
        padding-bottom: 128px;
      }
    }
  }

  &__price {
    margin-bottom: 24px;
  }

  &__actions {
    display: flex;
  }

  &__btn {
    --btn-padding: 18px
  }

  &__favorite {
    --btn-padding: 12px;
    --borde-color: var(--beige-color);
    --btn-color: transparent;
  }

  &__text {
    display: grid;
    row-gap: 16px;
    text-align: justify;
    word-break: break-word;

    & p,
    & ul {
      margin: 0;
    }
  }
}
