.sort-panel {

  @include media-min($md) {
    display: flex;
    align-items: center;
  }

  &__title {
    display: block;
    color: var(--gray-70-color);
    margin-bottom: 6px;

    @include media-min($md) {
      margin-bottom: 0;
    }
  }
}