:root {
  --white-color: #FFFFFF;
  --black-color: #000000;
  --beige-color: #f4f2e6;
  --black-10-color: #191919;
  --gray-30-color: #4c4c4c;
  --gray-50-color: #808080;
  --gray-70-color: #b2b2b2;
  --gray-90-color: #e5e5e5;
  --red-color: #BD0300;
  --red-40-color: #e9502c;
  --error-color: var(--red-color);


  // other vars
  --min-site-width: 375px;
  --max-site-width: 1600px;

  // transition speed vars
  --transition-speed-fast: .1s;
  --transition-speed-medium: .2s;
  --transition-speed-slow: .3s;
}

$sm: 540px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1600px;
$fhd: 1920px;
$main-font: "Helios";
