.social-block {
  position: relative;
  background: linear-gradient(90deg, #f4f2e6 0%, var(--white-color) 100%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 510px;

  &__info {
    padding: 16px 0 16px 16px;

    @include media-min($lg) {
      padding: 16px 0 16px 32px;
    }

    @include media-min($fhd) {
      padding: 24px 0 24px 32px;
    }
  }

  &__subtitle {
    display: block;
    color: var(--gray-70-color);
    margin-bottom: 10px;
  }

  &__link {
    text-decoration: none;
  }

  &__bg {
    color: var(--beige-color);
    height: 100%;

    @include media-min($fhd) {
      width: 134px;
      height: 115px;
    }
  }
}
