.btn {
  @include btn-reset;

  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
  box-sizing: border-box;

  padding: var(--btn-padding);

  border-width: var(--btn-border-width, 1px);
  border-style: var(--brn-border-style, solid);
  border-color: var(--btn-border-color, var(--btn-bg));
  border-radius: var(--btn-border-radius);

  font-weight: var(--btn-font-weight);
  font-size: var(--btn-font-size);
  text-transform: var(--btn-text-decoration, uppercase);

  background-color: var(--btn-bg);
  color: var(--btn-color);

  opacity: var(--btn-opacity, 1);

  transition:
    color var(--transition-speed-medium) ease-in-out,
    background-color var(--transition-speed-medium) ease-in-out,
    border-color var(--transition-speed-medium) ease-in-out,
    opacity var(--transition-speed-medium) ease-in-out;
}

.btn:hover {
  background-color: var(--btn-hover-bg);
  color: var(--btn-hover-color);
  border-color: var(--btn-hover-bg);
}

.btn:focus {
  outline: none;
}

.btn:focus-visible {
  outline: 3px solid var(--btn-bg);
  outline-offset: 3px;
}

.btn-icon {
  & svg {
    margin-right: 12px;
  }

  &--reverse {
    & svg {
      margin-right: 0;
      margin-left: 12px;
    }
  }
}

.btn-dark {
  --btn-bg: var(--black-color);
  --btn-color: var(--white-color);

  &:hover {
    --btn-bg: transparent;
    --btn-color: var(--black-color);
    // color: bar(--black-color);
    // background-color: transparent;
    // border-color: var(--gray-70-color);
  }

  &:active {
    opacity: .8;
  }
}

.btn-light {
  --btn-border-color: var(--gray-70-color);

  // color: var(--btn-color-default, var(--black-color));
  // background-color: var(--btn-bg-default, transparent);
  // text-transform: uppercase;
  // border: 1px solid var(--btn-border-color-default, var(--gray-70-color));

  &:hover {
    --btn-hover-bg: var(--black-color);
    --btn-hover-color: var(--white-color);
    // color: var(--btn-color-hover, var(--white-color));
    // background-color: var(--btn-bg-default, var(--black-color));
    // border-color: var(--btn-border-color-hover, transparent);
  }

  &:active {
    --btn-opacity: .8;
  }
}

.btn-action {
  &:hover {
    color: var(--white-color);
    background-color: var(--black-color);
  }
}

.btn-icon-only {
  --btn-padding: 6px;
  --btn-color: inherit;
  --btn-bg: var(--white-color);

  &:hover {
    --btn-hover-bg: var(--black-color);
    --btn-hover-color: var(--white-color);
  }

  &:active {
    --btn-hover-bg: var(--white-color);
    --btn-hover-color: var(--black-color);
  }
}


.btn-nav {

  --btn-slider-gap: 6px;

  @include btn-reset;

  color: var(--white-color);
  width: 26px;
  height: 30px;
  pointer-events: auto;
  display: inline-flex;
  align-items: center;

  &:hover {
    --arrow-prev-offset: -4px;
    --arrow-next-offset: 4px;
  }

  &.prev {
    & svg:last-child {
      margin-left: var(--btn-slider-gap);
      transform: translateX(var(--arrow-prev-offset));
    }
  }

  &.next {
    flex-direction: row-reverse;

    & svg:last-child {
      margin-right: var(--btn-slider-gap);
      transform: translateX(var(--arrow-next-offset));
    }
  }

  & svg {
    transition: transform var(--transition-speed-slow) ease-in-out;
  }
}
