.catalog-card {
  position: relative;
  padding: 16px;
  background-color: var(--beige-color);
  transition: background-color var(--transition-speed-medium) ease-in-out;

  &:hover {
    background-color: var(--beige-color);
  }

  @include media-min($lg) {
    background-color: transparent;
    padding: 24px;
  }

  &__img {
    padding-bottom: 83%;
    margin-bottom: 12px;
  }

  &__title {
    font-weight: 400;
    text-align: center;
  }
}