.form-label {
  display: flex;
  flex-direction: column-reverse;

  & > span {
    font-size: 14px;
    margin-bottom: 4px;
  }
}

.form-input {
  font-size: 16px;
  padding: var(--input-offset, 14px);
  width: 100%;
  color: inherit;
  background-color: transparent;
  border: 1px solid var(--input-border-color, currentColor);
  appearance: none;

  &:-webkit-autofill,
  &:-webkit-autofill:focus {
    transition: background-color 0s 600000s, color 0s 600000s !important;
  }

  &.is-invalid {
    border-color: var(--error-color, #BD0300);
  }

  &--area {
    resize: none;
    height: var(--input-area-height, 6em);
  }
}

.form-radio {
  display: inline-flex;
  align-items: flex-start;
  position: relative;
  isolation: isolate;
  cursor: pointer;

  @include media-hover {
    &:hover {
      --radio-shadow-color: var(--black-color)
    }
  }

  & input {
    position: relative;
    cursor: pointer;
    flex-shrink: 0;
    appearance: none;
    margin: 0;
    margin-right: 10px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: transparent;
    border: 4px solid var(--radio-border-color, var(--white-color));
    display: grid;
    justify-items: center;
    align-items: center;
    transition: background-color var(--transition-speed-fast) ease-in-out,
      border-color var(--transition-speed-slow) ease-in-out,
      box-shadow var(--transition-speed-medium) ease-in-out;
    box-shadow: 0 0 0 1px var(--radio-shadow-color, var(--gray-70-color));


    &:checked {
      --radio-shadow-color: var(--black-color);

      background-color: var(--black-color);
    }
  }
}
