.gallery {
  position: relative;

  &__top {
    margin-bottom: 8px;

    @include media-min($lg) {
      padding: 0 48px;
    }

    @include media-min($xxl) {
      padding: 0 64px;
      margin-bottom: 16px;
    }
  }

  &__slide {
    position: relative;

    @include media-hover {
      &:hover {
        --opacity-img-action: 1;
      }
    }

    & img {
      transform: scale(var(--img-slide-scale));
      transition: var(--transition-speed-slow);
    }
  }

  &__btn-img {
    --btn-padding: 10px;


  }

  &__bottom {
    position: relative;
    border-top: 1px solid var(--gray-90-color);
    padding: 8px 22px;

    @include media-min($lg) {
      padding: 8px 80px;
    }
  }

  &__thumb-slider {
    margin: 0 auto;


    @include media-min($lg) {
      max-width: 300px;
    }

    @include media-min($xxl) {
      max-width: 400px;
    }
  }

  &__thumb {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 40px;

    @include media-min($lg) {
      height: 60px;
    }

    & img {
      object-fit: contain;
      height: 100%;
    }
  }

  &__controls {
    display: none;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    grid-template-columns: 1fr 1fr;
    align-items: center;
    column-gap: 16px;

    @include media-min($lg) {
      display: grid;
    }
  }
}


.product-gallery {
  &__slide {
    padding-bottom: 61%;

    @include media-min($lg) {
      padding-bottom: 70%;
    }

    @include media-min($xxl) {
      padding-bottom: 78%;
    }

    &--picture {
      @include media-hover {
        &:hover {
          --img-slide-scale: 1.1;
        }
      }
    }
  }
}


.artist-gallery {
  &__slide {
    padding-bottom: 58%;

    @include media-min($lg) {
      padding-bottom: 67%;
    }

    @include media-min($fhd) {
      padding-bottom: 69%;
    }
  }
}

.news-gallery {
  &__slide {
    padding-bottom: 58%;

    @include media-min($lg) {
      padding-bottom: 67%;
    }

    @include media-min($fhd) {
      padding-bottom: 69%;
    }
  }
}
