.logo {
  position: relative;
  display: inline-flex;
  align-items: center;

  & img {
    object-fit: contain;
  }

  &--xxl {
    & img {
      @include media-min($xxl) {
        width: 264px;
        height: 40px;
      }
    }
  }
}