.page-text {
  padding-bottom: 64px;

  @include media-min($xl) {
    padding-bottom: 96px;
  }

  @include media-min($fhd) {
    padding-bottom: 128px;
  }

  &__wrap {
    display: grid;
    row-gap: 16px;
  }

  & p,
  ul {
    margin: 0;
  }
}
