.product-card {
  transition: background-color var(--transition-speed-medium) ease-in-out;

  @include media-hover {
    &:hover {
      --opacity-bottom: 1;

      background-color: var(--beige-color);
    }
  }


  @include media-hover(none) {
    --opacity-bottom: 1;

    background-color: var(--beige-color);
  }

  &__top {
    padding: 16px;

    @include media-min($xxl) {
      padding: 24px;
    }
  }

  &__img {
    position: relative;
    background-color: var(--white-color);
    padding-bottom: 116%;
    margin-bottom: 16px;
    color: var(--white-color);

    @include media-min($xxl) {
      margin-bottom: 24px;
    }

    @media (hover: hover) and (min-width: $lg) {
      &:hover {
        --scale-img: 1.1;
        --opacity-img-action: 1;
      }
    }

    & img {
      transform: scale(var(--scale-img, 1));
      transition: transform var(--transition-speed-slow) ease-in-out;
    }

  }

  &__btn-img {
    @include media-max($lg) {
      pointer-events: none;
    }
  }

  &__meta {
    position: relative;

    @include media-hover {
      &:hover {
        --opacity-description-list: 1;
        --title-color-underline: var(--black-color);
      }
    }
  }

  &__title {
    font-weight: 400;
    margin-bottom: 10px;
    text-decoration: underline solid var(--title-color-underline, transparent);
    transition: text-decoration-color var(--transition-speed-medium) ease-in-out;

    @include media-min($fhd) {
      margin-bottom: 0;
      margin-right: 10px;
    }
  }

  &__price {
    align-self: flex-end;
    text-align: end;

    @include media-min($fhd) {
      align-self: flex-start;
    }
  }

  &__description-list {
    display: grid;
    row-gap: 2px;
    opacity: var(--opacity-description-list, .5);
    transition: opacity var(--transition-speed-medium) ease-in-out;

    & > li {
      word-break: break-word;
    }
  }

  &__bottom {
    opacity: var(--opacity-bottom, 0);
    display: flex;
    align-items: stretch;
    transition: opacity var(--transition-speed-medium) ease-in-out;
  }

  &__favorite {
    --btn-padding: 0 8px;
    --btn-border-color: var(--gray-90-color);
  }

  &__btn {
    --btn-padding: 8px;
    --btn-border-color: var(--gray-90-color);

    @include media-hover(none) {
      --btn-bg: var(--black-color);
      --btn-color: var(--white-color);
      --btn-border-color: var(--btn-bg);
    }
  }
}
