.site-slider {
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;

    @include media-min($lg) {
      margin-bottom: 16px;
    }
  }

  &__title {}

  &__swiper {
    margin-bottom: 32px;

    @include media-min($xl) {
      margin-bottom: 16px;
    }

    @include media-min($xxl) {
      margin-bottom: 24px;
    }
  }

  &__btn {
    display: block;
    width: max-content;
    padding: 16px 60px;
    margin: 0 auto;

    @include media-min($xl) {
      padding: 16px 48px;
    }

    @include media-min($xxl) {
      padding: 24px 64px
    }
  }

  &__line {
    height: 1px;
    background-color: var(--gray-90-color);
    margin: 0 24px;
    flex-grow: 1;
  }

  &__controls {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 18px;
  }
}