.site {
  &__container {
    display: flex;
    flex-direction: column;
    min-height: calc(100 * var(--vh, 1vh));
  }

  &__header {
    flex-shrink: 0;
  }

  &__content {
    flex-grow: 1;

    &--offset {
      padding-top: 64px;

      @include media-min($xl) {
        padding-top: 128px;
      }

      @include media-min($xxl) {
        padding-top: 160px;
      }
    }
  }

  &__footer {
    flex-shrink: 0;
  }
}