.slider {
  position: relative;
  overflow: hidden;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;

  &:not(.swiper-initialized) {
    opacity: 0;
  }

  &__wrapper {
    box-sizing: border-box;
  }
}

.slider-control {
  // --btn-slider-gap: 6px;

  // @include btn-reset;

  // color: var(--white-color);
  // width: 26px;
  // height: 30px;
  // pointer-events: auto;
  // display: inline-flex;
  // align-items: center;

  &.swiper-button-lock {
    display: none;
  }

  // &:hover {
  //   --arrow-prev-offset: -4px;
  //   --arrow-next-offset: 4px;
  // }

  // &[data-to-slide="prev"] {
  //   & svg:last-child {
  //     margin-left: var(--btn-slider-gap);
  //     transform: translateX(var(--arrow-prev-offset));
  //   }
  // }

  // &[data-to-slide="next"] {
  //   flex-direction: row-reverse;

  //   & svg:last-child {
  //     margin-right: var(--btn-slider-gap);
  //     transform: translateX(var(--arrow-next-offset));
  //   }
  // }

  // & svg {
  //   transition: transform var(--transition-speed-slow) ease-in-out;
  // }

}