.visually-hidden:not(:focus):not(:active),
input[type='radio'].visually-hidden,
input[type='checkbox'].visually-hidden,
input[type='file'].visually-hidden {
  @include visually-hidden;
}

#site-top {
  position: absolute;
  top: 0;
  visibility: hidden;
}

.indent-reset {
  @include indent-reset;
}

.list-reset {
  @include list-reset;
}

.btn-reset {
  @include btn-reset;
}

.shaked {
  @include anim(shake, 0.6s);
}

.is-lock-scroll {
  overflow: hidden;

  @include media-min ($xl) {
    overflow: visible;
  }
}


.img-fit {
  position: relative;
  width: 100%;
  height: 0;
  overflow: hidden;

  & img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  &--cover {
    & img {
      object-fit: cover;
    }
  }
}

.img-action {
  pointer-events: none;
  display: flex;
  background-color: rgba(0, 0, 0, .3);
  position: absolute;
  padding: var(--btn-padding);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  opacity: var(--opacity-img-action, 0);
  color: inherit;
  transition: background-color var(--transition-speed-medium) ease-in-out, opacity var(--transition-speed-slow) ease-in-out;

  @include media-hover {
    pointer-events: all;

    &:hover {
      background-color: var(--black-color);
    }
  }
}

.link-cover {
  font-weight: inherit;
  font-size: inherit;
  color: inherit;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.link,
.phone {
  text-decoration-color: var(--link-line-color, transparent);
  color: var(--link-color, var(--black-color));
  transition: opacity var(--transition-speed-medium) ease-in-out,
    text-decoration var(--transition-speed-medium) ease-in-out;

  @include media-hover {
    &:hover {
      --link-line-color: var(--link-color, var(--black-color));
    }
  }

  &:active {
    --link-line-color: var(--link-color, var(--black-color));

    opacity: .6;
  }
}


.social-link {
  color: var(--black-color);
  display: inline-flex;
  align-items: center;

  @include media-hover {
    &:hover {
      --svg-opacity: 1;
    }
  }

  &:active {
    --svg-opacity: 1;
  }

  & svg {
    opacity: var(--svg-opacity, .2);
    margin-right: 4px;
    transition: opacity var(--transition-speed-slow) ease-in-out;
  }
}


.price {
  flex-shrink: 0;

  & > ins {
    color: var(--black-color);
    text-decoration: none;
  }
}
